body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-size: 14px;
}

.container {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.custom-mt {
    margin-top: 1rem;
    margin-left: 0;
    margin-right: 20px;
}

.image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.6;
}

.image-container img {
    width: 100%;
    height: auto;
}

.navbar {
    max-height: 100px;
    padding: 1rem 1rem;
    height: 50px;
}

.navbar-brand img {
    width: 100px;
}

.navbar-brand span {
    font-size: 16px;
}

.jumbotron {
    background-color: #f0f0f0;
}

.horizontal-card {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div {
    position: relative;
}

h1 {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: white;
    z-index: 1;
}

#nombre {
    margin-right: 10px;
}

#apellido {
    margin-left: -50px;
}

footer {
    background-color: #18384b;
}

img {
    background-color: #181a1b;
}

.logo-img {
    background-color: #1a1a1a;
}

/* Estilos para tamaños de pantalla grandes (a partir de 992px) */
@media (min-width: 992px) {
    .container {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    .custom-mt {
        margin-top: 1rem;
        margin-left: 0;
        margin-right: 20px;
    }

    .image-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.6;
    }

    .image-container img {
        width: 100%;
        height: 80%;
        object-fit: cover;
    }

    .navbar {
        max-height: 100px;
        padding: 1rem 1rem;
        height: 50px;
    }

    .navbar-brand img {
        width: 100px;
    }

    .navbar-brand span {
        font-size: 16px;
    }

    .jumbotron {
        background-color: #f0f0f0;
        padding: 20px;
    }

    .horizontal-card {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }

    footer {
        background-color: #18384b;
        text-align: center;
        padding: 20px 0;
    }
}

/* Estilos para tamaños de pantalla medianos (650px a 991px) */
@media (min-width: 650px) and (max-width: 991px) {
    .container {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    .custom-mt {
        margin-top: 1rem;
        margin-left: 0;
        margin-right: 20px;
    }

    .image-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.6;
    }

    .image-container img {
        width: 100%;
        height: 80%;
        object-fit: cover;
    }

    .navbar {
        max-height: 100px;
        padding: 1rem 1rem;
        height: 50px;
    }

    .navbar-brand img {
        width: 100px;
    }

    .navbar-brand span {
        font-size: 16px;
    }

    .jumbotron {
        background-color: #f0f0f0;
        padding: 20px;
    }

    .horizontal-card {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }

    footer {
        background-color: #18384b;
        text-align: center;
        padding: 20px 0;
    }
}


@media (max-width: 767px) {
    .container {
        width: 95%;
    }

    .custom-mt {
        margin-top: 1rem;
        margin-left: 0;
        margin-right: 20px;
    }

    .image-container img {
        height: auto;
    }

    .navbar {
        max-height: 100px;
        padding: 0.5rem 1rem;
        height: 50px;
    }

    .navbar-brand img {
        width: 80px;
    }

    .navbar-brand span {
        font-size: 14px;
    }

    .jumbotron {
        background-color: #f0f0f0;
        padding: 10px;
    }

    .horizontal-card {
        display: block;
        text-align: center;
    }

    .card {
        margin-bottom: 20px;
    }

    .card img {
        width: 100%;
        height: auto;
    }

    .card-body {
        padding: 10px;
    }

    .form-row {
        flex-direction: column;
        align-items: center;
    }

    #nombre,
    #apellido,
    #mensaje {
        width: 100%;
        max-width: 300px;
    }

    .btn-primary {
        width: 100%;
        max-width: 300px;
    }

    footer {
        background-color: #18384b;
        text-align: center;
        padding: 10px 0;
    }
}
